# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
android/
ios/

# Build artifacts
*.log
coverage/

# Environment
.env
.env.*
!.env.example

# Editors
.idea/
.vscode/

# TypeScript
*.tsbuildinfo
